<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">

<mapper namespace="study.work.sign_access.mapper.UserMapper">
    <select id="selectNextVal" resultType="int">
        SELECT NEXTVAL(TB_USER_SEQ)
    </select>

    <insert id="insertUser" parameterType="TbUserDao">
        INSERT INTO
            tb_user (
                idx,
                id,
                password,
                name,
                email,
                phone_num,
                introduction
            )
        VALUES
            (
                #{idx},
                #{id},
                #{password},
                #{name},
                #{email},
                #{phoneNum},
                #{introduction}
            )
    </insert>

    <select id="selectTotalItems" resultType="int" parameterType="Pagination">
        SELECT
            COUNT(idx)
        FROM
            tb_user
        WHERE 1=1
        <if test="key == 'name' and value != null">
            AND name LIKE CONCAT('%',#{value},'%')
        </if>
        <if test="key == 'id' and value != null">
            AND id LIKE CONCAT('%',#{value},'%')
        </if>
    </select>

    <select id="selectUser" resultType="TbUserDao" parameterType="int">
        SELECT
            idx,
            id,
            password,
            name,
            email,
            phone_num,
            introduction,
            created_dt,
            modified_dt,
            deleted_dt
        FROM
            tb_user
        WHERE
            idx = #{idx}
    </select>

    <select id="selectUserList" resultType="TbUserDao" parameterType="Pagination">
        SELECT
            idx,
            id,
            password,
            name,
            email,
            phone_num,
            introduction,
            created_dt,
            modified_dt,
            deleted_dt
        FROM
            tb_user
        WHERE 1=1
        <if test="key == 'name' and value != null">
            AND name LIKE CONCAT('%',#{value},'%')
        </if>
        <if test="key == 'id' and value != null">
            AND id LIKE CONCAT('%',#{value},'%')
        </if>
        LIMIT
            #{limit}
        OFFSET
            #{offset}
    </select>

    <update id="updateUser" parameterType="int">
        UPDATE
            tb_user
        SET
            name = #{name},
            introduction = #{introduction}
        WHERE
            idx = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE
        FROM
            tb_user
        WHERE
            idx = #{id}
    </delete>
</mapper>