<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">

<mapper namespace="study.work.sign_access.mapper.UserMapper">
    <select id="selectNextVal" resultType="int">
        SELECT NEXTVAL(TB_USER_SEQ)
    </select>

    <insert id="insertUser" parameterType="TbUserDao">
        INSERT INTO
            tb_user (
                idx,
                id,
                password,
                nickname,
                email,
                phone_num,
                introduction
            )
        VALUES
            (
                #{idx},
                #{id},
                #{password},
                #{nickname},
                #{email},
                #{phoneNum},
                #{introduction}
            )
    </insert>

    <select id="selectTotalItems" resultType="int" parameterType="Pagination">
        SELECT
            COUNT(idx)
        FROM
            tb_user
        WHERE
            deleted_dt IS NULL
        <if test="key == 'name' and value != null">
            AND nickname LIKE CONCAT('%',#{value},'%')
        </if>
        <if test="key == 'id' and value != null">
            AND id LIKE CONCAT('%',#{value},'%')
        </if>
    </select>

    <select id="selectUser" resultType="TbUserDao" parameterType="int">
        SELECT
            idx,
            id,
            password,
            nickname,
            email,
            phone_num,
            introduction,
            created_dt,
            modified_dt,
            deleted_dt,
            emailVerified,
            authVerified,
            locked
        FROM
            tb_user
        WHERE
            idx = #{idx}
        AND deleted_dt IS NULL
    </select>

    <select id="selectUserById" resultType="TbUserDao" parameterType="String">
        SELECT
            idx,
            id,
            password,
            nickname,
            email,
            phone_num,
            introduction,
            created_dt,
            modified_dt,
            deleted_dt,
            emailVerified,
            authVerified,
            locked
        FROM
            tb_user
        WHERE
            id = #{id}
        AND deleted_dt IS NULL
    </select>

    <select id="selectUserList" resultType="TbUserDao" parameterType="Pagination">
        SELECT
            idx,
            id,
            password,
            nickname,
            email,
            phone_num,
            introduction,
            created_dt,
            modified_dt,
            deleted_dt,
            emailVerified,
            authVerified,
            locked
        FROM
            tb_user
        WHERE
            deleted_dt IS NULL
        <if test="key == 'name' and value != null">
            AND nickname LIKE CONCAT('%',#{value},'%')
        </if>
        <if test="key == 'id' and value != null">
            AND id LIKE CONCAT('%',#{value},'%')
        </if>
        LIMIT
            #{limit}
        OFFSET
            #{offset}
    </select>

    <update id="updateUser" parameterType="TbUserDao" >
        UPDATE
            tb_user
        SET
            nickname = #{nickname},
            email = #{email},
            phone_num = #{phoneNum},
            introduction = #{introduction},
            modified_dt = NOW()
        WHERE
            idx = #{idx}
        AND deleted_dt IS NULL
    </update>

    <update id="deleteUser" parameterType="int">
        UPDATE
            tb_user
        SET
            deleted_dt = NOW()
        WHERE
            idx = #{idx}
        AND deleted_dt IS NULL
    </update>
</mapper>